/* ==========================================================================
  Foundation CSS Overrides for Concision Activities
  ========================================================================== */

/*
 * Segments that don't have a problem darken
 */
.selected-non-problematic {
  /*background-color: rgba(250, 230, 104, 0.6);*/
  animation:animation-darken 1.4s;
 -webkit-animation:animation-darken 1.4s; /* Safari and Chrome */
}

@keyframes animation-darken
{
  0%{color: rgba(0, 0, 0, 0.5);}
  50%{color: rgba(0, 0, 0, 1);}
  100%{color: rgba(0, 0, 0, 0.5);}
}

@-webkit-keyframes animation-darken /* Safari and Chrome */
{
  0%{color: rgba(0, 0, 0, 0.5);}
  50%{color: rgba(0, 0, 0, 1);}
  100%{color: rgba(0, 0, 0, 0.5);}
}

.problematic {
  -webkit-transition: letter-spacing 0.3s;
  -moz-transition: letter-spacing 0.3s;
  -o-transition: letter-spacing 0.3s;
  transition: letter-spacing 0.3s;
}

/*
 * Segments that DO have a problem, and show animation based on how the answer is rated
 */

.submitted.problematic.good-option {
  letter-spacing:0em;
  animation:animation-good 0.6s;
  -webkit-animation:animation-good 0.6s; /* Safari and Chrome */
}

.submitted.problematic.okay-option {
  letter-spacing:0.1em;
  animation:animation-okay 0.6s;
  -webkit-animation:animation-okay 0.6s; /* Safari and Chrome */
}

.submitted.problematic.poor-option {
  letter-spacing:0.2em;
  animation:animation-poor 0.6s;
  -webkit-animation:animation-poor 0.6s; /* Safari and Chrome */
}


@keyframes animation-good
{
  0%{color: rgba(0, 0, 0, 0.8);}
  35%{color: rgba(51, 204, 153, 1);}
  65%{color: rgba(51, 204, 153, 1);}
  100%{color: rgba(0, 0, 0, 0.8);}
}

@-webkit-keyframes animation-good /* Safari and Chrome */
{
  0%{color: rgba(0, 0, 0, 0.8);}
  25%{color: rgba(51, 204, 153, 1);}
  75%{color: rgba(51, 204, 153, 1);}
  100%{color: rgba(0, 0, 0, 0.8);}
}


@keyframes animation-okay
{
  0%{color: rgba(0, 0, 0, 0.8);}
  35%{color: rgba(255, 153, 0, 1);}
  65%{color: rgba(255, 153, 0, 1);}
  100%{color: rgba(0, 0, 0, 0.8);}
}

@-webkit-keyframes animation-okay /* Safari and Chrome */
{
  0%{color: rgba(0, 0, 0, 0.8);}
  25%{color: rgba(255, 153, 0, 1);}
  75%{color: rgba(255, 153, 0, 1);}
  100%{color: rgba(0, 0, 0, 0.8);}
}

@keyframes animation-poor
{
  0%{color: rgba(0, 0, 0, 0.8);}
  35%{color: rgba(255, 51, 0, 1);}
  65%{color: rgba(255, 51, 0, 1);}
  100%{color: rgba(0, 0, 0, 0.8);}
}

@-webkit-keyframes animation-poor /* Safari and Chrome */
{
  0%{color: rgba(0, 0, 0, 0.8);}
  25%{color: rgba(255, 51, 0, 1);}
  75%{color: rgba(255, 51, 0, 1);}
  100%{color: rgba(0, 0, 0, 0.8);}
}
